<h2>Comparison data </h2>
<p> At the moment this items will only appear on this page when they  
<br/> a) are linked to a CW item via equal apns that are not 0 and 
<br/> b) the price at scrape cost ex gst is under the last invoice cost plus <%= @setting.percent_difference %>%
<br> You can change this percentage under settings percent difference, settings link a dropdown under your avatar
<br>
<br/> Also the price at scrape ex GST calculation is done on everything as currently there is no field to denote GSTability as discussed.
<br/> The matched items are ordered from the greatest retail price reduction down to the least</p>
<% matched_stock_count = 0 %>
<% @stock_items =StockItem.all.sort_by &:price_reduction_rec_retail_at_scrape  %>
<% @stock_items.reverse! %>
<% @stock_items.each  do |sitem|%>
  <% matched_pharm_stock = PharmacyStockItem.find_by apn: sitem.apn_barcode_1 %> 
  <% next if sitem.apn_barcode_1 == 0 || sitem.apn_barcode_1 == nil %>
  <% next if sitem.price_at_scrape * 10/11 > matched_pharm_stock.last_invoice_cost * (@setting.percent_difference + 100)/100   %>
  <% matched_stock_count = matched_stock_count +1 %>


  <div class="cards">
    <div class="row">
      <div class="col col-md-6">
        <div class="card h-100">
          <b> Your Stock Item:
          <%= matched_pharm_stock.name %> </b>  
          Pharmacy Apn <%= matched_pharm_stock.apn %> <br>
          <% if matched_pharm_stock.ws1_cost.to_s.length > 2 %>
          Ws1 cost: $<%= matched_pharm_stock.ws1_cost.to_s.insert(-3,'.') %>
          <% end %> <br>
          <% if matched_pharm_stock.last_invoice_cost.to_s.length > 2 %>
          Last Invoice Cost: $<%= matched_pharm_stock.last_invoice_cost.to_s.insert(-3,'.') %>
          <% end %> <br>
          Pharmacy pde <%= matched_pharm_stock.pde %> <br>
        </div>
      </div>

      <div class="col col-md-6">
        <div class="card h-100">
          <b> Matching CW Item:
          <%= sitem.name  %> </b>
          Apn: <%= sitem.apn_barcode_1 %> <br>

          Price at Scrape:
          <% if sitem.price_at_scrape.to_s.length >= 3 %>
            $<%= sitem.price_at_scrape.to_s.insert(-3,'.') %>
          <% end %> <br>
          Price at Scrape ex GST:
          <%   matched_ex_gst = sitem.price_at_scrape * 10/11 %>
          <% if matched_ex_gst.to_s.length >= 3 %>
            $<%= matched_ex_gst.to_s.insert(-3,'.') %>
          <% end %> <br>
          Retail Price Reduction:
          <% case sitem.price_reduction_rec_retail_at_scrape.to_s.length %>
          <% when 2 %>
            $<%= sitem.price_reduction_rec_retail_at_scrape.to_s.insert(-3,'0.') %>  
          <% when 1 %>
          $<% sitem.price_reduction_rec_retail_at_scrape.to_s %> 
          <% else %>
          $<%= sitem.price_reduction_rec_retail_at_scrape.to_s.insert(-3,'.') %>
          <% end %> 
          <br>
          Item price description: <%= sitem.price_description %> <br>
          Last Scrape Date:  <%= sitem.scrape_date %> 
          
        
        </div>
      </div>
    </div>
  </div>



<% end %>

 Number of Items matched under these conditions:  <%= matched_stock_count %> 