<h1>PharmacyStockItems#index</h1>
<p>Find me in app/views/pharmacy_stock_items/index.html.erb</p>

<h4>Import Pharmacy Stock Items</h4>
<%= form_tag upload_pharmacy_stock_items_path, multipart: true do %>
      <%= file_field_tag :file %>
      <%= submit_tag "Import" %>
<% end %>


<% @pharmacy_stock_items.each do |item| %>
<%= item.name %>
<% if item.ws1_cost.to_s.length > 2 %>
 $<%= item.ws1_cost.to_s.insert(-3,'.') %>
<% end %>
<% if item.last_invoice_cost.to_s.length > 2 %>
      $<%= item.last_invoice_cost.to_s.insert(-3,'.') %>
 <% end %>

<%= item.apn %>
<%= item.pde %>
<br>
<% end %> 