<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "https://res.cloudinary.com/jomermac-pty-ltd/image/upload/v1618126255/pharm-price-checker/Harpers_logo_vdg0fs.png" %>
    <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>

        <li class="nav-item active">
          <%= link_to "CW Tracked Items", stock_items_index_path,  class: "nav-link" %>
        </li>
          <li class="nav-item active">
          <%= link_to "Your Items", pharmacy_stock_items_index_path,  class: "nav-link" %>
        </li>
          <li class="nav-item active">
          <%= link_to "Compare Stock", pharmacy_stock_items_compare_path,  class: "nav-link" %>
        </li>
      
      
        <li class="nav-item dropdown">
         <% if current_user == User.first %>
          <%= image_tag "https://res.cloudinary.com/jomermac-pty-ltd/image/upload/v1618107660/pharm-price-checker/John_nwvdsp.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
         <% elsif current_user == User.second %>
          <%= image_tag "https://res.cloudinary.com/jomermac-pty-ltd/image/upload/v1618108021/pharm-price-checker/Alex_xlxeiy.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %> 
          <% end %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Settings", edit_setting_path(1) , class: "dropdown-item" %>
            <%# link_to "Another action", "#", class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
